<div id="about" class="story-area ptb-100">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="story-image">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <img src="assets/img/about-img1.jpg" alt="image">
                            <img src="assets/img/about-img2.jpg" alt="image">
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <img src="assets/img/about-img3.jpg" alt="image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="story-content">
                    <div class="section-title">
                        <span>Our Story</span>
                        <h2>Welcome To Fryio</h2>
                    </div>
                    <p>Quisque sit amet turpis et ipsum elementum facilisis. Quisque sed placerat libero. Pellentesque nec tellus sollicitudin, sollicitudin ligula non, tristique nibh Donec vitae turpis sagittis, cursus nunc ac, aliquet nunc. Donec viverra vel massa at posuere. Aliquam et fringilla augue consequat posuere sem, eu ornares viverra veleso massa at posuere. Aliquam et fringilla augue</p>
                    <div class="story-quote">
                        <div class="quote-content">
                            <p>"Mauris tempor libero fringilla orci vivrra faucibue fringilla orci vivrra faucibus. Integer ullamcorper erat in tellus efficitur, quis porta sapien tincidunt. Nunc mattis lectus sed semper semper."</p>
                            <img src="assets/img/about_sign.png" alt="img">
                        </div>
                        <div class="quote-info">
                            <img src="assets/img/story-1.jpg" alt="story">
                            <h3>John Smith</h3>
                            <span>Master Chef</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="line-bg"><img src="assets/img/line.png" alt="line"></div>
</div>