<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <h3>Blog Grid</h3>
    </div>
</div>

<!-- Blog -->
<div class="blog-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <a routerLink="/blog-details" class="post-image">
                        <img src="assets/img/blog-img1.jpg" alt="blog-image">
                    </a>
                    <div class="blog-post-content">
                        <ul>
                            <li><i class="icofont-ui-user"></i> Admin</li>
                            <li><i class="icofont-wall-clock"></i> October 16, 2021</li>
                        </ul>
                        <h3><a routerLink="/blog-details" target="_blank">The 10 Essential Los Angeles Restaurants, 2021</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi turpis massa, dapibus nec libero vitae.</p>
                        <a routerLink="/blog-details" class="read-more-btn" target="_blank">Read More <i class="icofont-rounded-double-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <a routerLink="/blog-details" class="post-image">
                        <img src="assets/img/blog-img2.jpg" alt="blog-image">
                    </a>
                    <div class="blog-post-content">
                        <ul>
                            <li><i class="icofont-ui-user"></i> Admin</li>
                            <li><i class="icofont-wall-clock"></i> October 15, 2021</li>
                        </ul>
                        <h3><a routerLink="/blog-details" target="_blank">16 Hottest Restaurants in LA Right Now, 2021</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi turpis massa, dapibus nec libero vitae.</p>
                        <a routerLink="/blog-details" class="read-more-btn" target="_blank">Read More <i class="icofont-rounded-double-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <a routerLink="/blog-details" class="post-image">
                        <img src="assets/img/blog-img3.jpg" alt="blog-image">
                    </a>
                    <div class="blog-post-content">
                        <ul>
                            <li><i class="icofont-ui-user"></i> Admin</li>
                            <li><i class="icofont-wall-clock"></i> October 14, 2021</li>
                        </ul>
                        <h3><a routerLink="/blog-details" target="_blank">Friday Fun Food Facts – Oct 6, 2021</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi turpis massa, dapibus nec libero vitae.</p>
                        <a routerLink="/blog-details" class="read-more-btn" target="_blank">Read More <i class="icofont-rounded-double-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <a routerLink="/blog-details" class="post-image">
                        <img src="assets/img/blog-img4.jpg" alt="blog-image">
                    </a>
                    <div class="blog-post-content">
                        <ul>
                            <li><i class="icofont-ui-user"></i> Admin</li>
                            <li><i class="icofont-wall-clock"></i> October 13, 2021</li>
                        </ul>
                        <h3><a routerLink="/blog-details" target="_blank">Inside Hollywood’s Sprawling New Coffee</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi turpis massa, dapibus nec libero vitae.</p>
                        <a routerLink="/blog-details" class="read-more-btn" target="_blank">Read More <i class="icofont-rounded-double-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <a routerLink="/blog-details" class="post-image">
                        <img src="assets/img/blog-img5.jpg" alt="blog-image">
                    </a>
                    <div class="blog-post-content">
                        <ul>
                            <li><i class="icofont-ui-user"></i> Admin</li>
                            <li><i class="icofont-wall-clock"></i> October 12, 2021</li>
                        </ul>
                        <h3><a routerLink="/blog-details" target="_blank">Brand New Eateries to Check Out in Los Angeles</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi turpis massa, dapibus nec libero vitae.</p>
                        <a routerLink="/blog-details" class="read-more-btn" target="_blank">Read More <i class="icofont-rounded-double-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <a routerLink="/blog-details" class="post-image">
                        <img src="assets/img/blog-img6.jpg" alt="blog-image">
                    </a>
                    <div class="blog-post-content">
                        <ul>
                            <li><i class="icofont-ui-user"></i> Admin</li>
                            <li><i class="icofont-wall-clock"></i> October 11, 2021</li>
                        </ul>
                        <h3><a routerLink="/blog-details" target="_blank">High Level of Food Activity Continues</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi turpis massa, dapibus nec libero vitae.</p>
                        <a routerLink="/blog-details" class="read-more-btn" target="_blank">Read More <i class="icofont-rounded-double-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="pagination-navbar">
                    <nav aria-label="navigation">
                        <ul class="pagination justify-content-center">
                            <li class="page-item"><a class="page-link" routerLink="/blog"><i class="icofont-double-left"></i></a></li>
                            <li class="page-item active"><a class="page-link" routerLink="/blog">1</a></li>
                            <li class="page-item"><a class="page-link" routerLink="/blog">2</a></li>
                            <li class="page-item"><a class="page-link" routerLink="/blog">3</a></li>
                            <li class="page-item"><a class="page-link" routerLink="/blog"><i class="icofont-double-right"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>