<div id="contact" class="contact-area ptb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="contact-box">
                    <h3>Contact Us</h3>
                    <p>
                        <a href="#" target="_blank"><i class="icofont-google-map"></i> Fryio Restaurant, 10 The Avenue, USA</a>
                    </p>
                    <p>
                        <a href="tel:+00086525124"><i class="icofont-phone"></i> +0 008 652 5124</a>
                    </p>
                    <p>
                        <a href="mailto:hello@fryio.com"><i class="icofont-envelope"></i> hello@fryio.com</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="contact-box">
                    <h3>Opening Hours</h3>
                    <p class="opening-hours">Sun - Fri <span>8:00am - 11:30pm</span></p>
                    <p class="opening-hours">Fri - Sun <span>8:00am - 11:30pm</span></p>
                    <p class="opening-hours">Saturday <span>Closed</span></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="contact-box">
                    <h3>Newsletter</h3>
                    <form class="newsletter-form">
                        <input type="text" class="form-control" placeholder="Your email.." name="EMAIL" required>
                        <button type="submit" class="btn btn-primary"><i class="icofont-paper-plane"></i></button>
                    </form>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <form id="contactForm">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group mb-3">
                                <input type="text" class="form-control" placeholder="First name" required>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group mb-3">
                                <input type="text" class="form-control" placeholder="Last name" required>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group mb-3">
                                <input type="email" class="form-control" placeholder="Your email" required>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group mb-3">
                                <input type="text" class="form-control" placeholder="Your phone" required>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group mb-3">
                                <textarea name="message" cols="30" rows="5" class="form-control" placeholder="Your message..." required></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <button type="submit" class="btn btn-primary">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>