<div id="offer" class="offer-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span>Amazing Offer</span>
            <h2>This Week Special</h2>
        </div>
        <div class="offer-slides">
            <owl-carousel-o [options]="offerSlides">
                <ng-template carouselSlide>
                    <div class="single-offer">
                        <img src="assets/img/offer-img1.jpg" alt="offer-img">
                        <div class="offer-content">
                            <h3><span>50% off</span> For 10'' - 12'' pizza - Wed-Friday only</h3>
                            <p>Pizza 12 inch + 1 Side Dish + 1,5L Coke Bottle Only From 209.000</p>
                            <a routerLink="/order" class="btn btn-primary">Order Now</a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-offer">
                        <img src="assets/img/offer-img2.jpg" alt="offer-img">
                        <div class="offer-content">
                            <h3><span>20% off</span> For 12'' - 24'' pizza - Wed-Friday only</h3>
                            <p>Pizza 12 inch + 1 Side Dish + 1,5L Coke Bottle Only From 209.000</p>
                            <a routerLink="/order" class="btn btn-primary">Order Now</a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-offer">
                        <img src="assets/img/offer-img3.jpg" alt="offer-img">
                        <div class="offer-content">
                            <h3><span>25% off</span> For 10'' - 12'' pizza - Wed-Friday only</h3>
                            <p>Pizza 12 inch + 1 Side Dish + 1,5L Coke Bottle Only From 209.000</p>
                            <a routerLink="/order" class="btn btn-primary">Order Now</a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-offer">
                        <img src="assets/img/offer-img4.jpg" alt="offer-img">
                        <div class="offer-content">
                            <h3><span>30% off</span> For 25'' - 12'' pizza - Wed-Friday only</h3>
                            <p>Pizza 25 inch + 1 Side Dish + 1,5L Coke Bottle Only From 209.000</p>
                            <a routerLink="/order" class="btn btn-primary">Order Now</a>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>