<div 
    id="menu" 
    class="menu-area ptb-100"
    [ngClass]="{'menu-area-two' : router?.url === '/index-2' || router?.url === '/index-3' || router?.url === '/index-4' || router?.url === '/index-6'}"
>
    <div class="container" *ngIf="menu && menu.tipologia">
        <div class="section-title">
            <span>Scopri</span>
            <h2>{{menu.tipologia}}</h2>
        </div>

        <!-- Default Restaurant Menu for Home Demo 1 & 5 -->
        <div 
            class="tab"
            [ngClass]="{'d-none' : router?.url === '/index-2' || router?.url === '/index-3' || router?.url === '/index-4' || router?.url === '/index-6'}"
        >
            <ngx-tabset>
 
                <ngx-tab tabTitle="{{sezione.label}}" *ngFor="let sezione of menu.sezioni">
                    <div class="row">
                        <div class="col-lg-6 col-md-12" *ngFor="let item of sezione.items">
                            <div class="single-menu">
                                <div class="food-menu-img">
                                    <img src="assets/img/menu-img3.jpg" alt="food-img">
                                </div>
                                <div class="food-menu-content">
                                    <h3>{{item.nome}}<span class="menu-price">{{item.prezzo}} €</span></h3>
                                    <!-- <ul>
                                        <li>Juice Fruit</li>
                                        <li>Cherry</li>
                                        <li>Vegetable</li>
                                        <li>Milk</li>
                                        <li>Potato</li>
                                        <li>Tomato</li>
                                        <li>Chilli</li>
                                        <li>Sesame</li>
                                    </ul>  -->
                                    <button class = 'btn btn-primary' (click)="addToCart(item)">Aggiungi al carrello</button>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </ngx-tab>
           
            </ngx-tabset>
        </div>

        <!-- Restaurant Menu for Home Demo 2 & 6 -->
        <div 
            class="row d-none"
            [ngClass]="{'d-flex' : router?.url === '/index-2' || router?.url === '/index-6'}"
        >
            <div class="col-lg-6 col-md-6">
                <div class="single-restaurant-menu">
                    <div class="menu-image">
                        <img src="assets/img/menu-img1.jpg" alt="menu-image">
                    </div>
                    <div class="menu-content">
                        <h3>Mussels Salad <span class="price">$23.00</span></h3>
                        <ul>
                            <li>Juice Fruit</li>
                            <li>Cherry</li>
                            <li>Milk</li>
                            <li>Vegetable</li>
                            <li>Potato</li>
                            <li>Tomato</li>
                            <li>Chilli</li>
                            <li>Sesame</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-restaurant-menu">
                    <div class="menu-image">
                        <img src="assets/img/menu-img2.jpg" alt="menu-image">
                    </div>
                    <div class="menu-content">
                        <h3>Sandwich Soup <span class="price">$20.00</span></h3>
                        <ul>
                            <li>Juice Fruit</li>
                            <li>Cherry</li>
                            <li>Milk</li>
                            <li>Vegetable</li>
                            <li>Potato</li>
                            <li>Tomato</li>
                            <li>Chilli</li>
                            <li>Sesame</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-restaurant-menu">
                    <div class="menu-image">
                        <img src="assets/img/menu-img3.jpg" alt="menu-image">
                    </div>
                    <div class="menu-content">
                        <h3>Bread <span class="price">$23.00</span></h3>
                        <ul>
                            <li>Juice Fruit</li>
                            <li>Cherry</li>
                            <li>Milk</li>
                            <li>Vegetable</li>
                            <li>Potato</li>
                            <li>Tomato</li>
                            <li>Chilli</li>
                            <li>Sesame</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-restaurant-menu">
                    <div class="menu-image">
                        <img src="assets/img/menu-img4.jpg" alt="menu-image">
                    </div>
                    <div class="menu-content">
                        <h3>Steak <span class="price">$35.00</span></h3>
                        <ul>
                            <li>Juice Fruit</li>
                            <li>Cherry</li>
                            <li>Milk</li>
                            <li>Vegetable</li>
                            <li>Potato</li>
                            <li>Tomato</li>
                            <li>Chilli</li>
                            <li>Sesame</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-restaurant-menu">
                    <div class="menu-image">
                        <img src="assets/img/menu-img1.jpg" alt="menu-image">
                    </div>
                    <div class="menu-content">
                        <h3>Tuna Steak <span class="price">$54.00</span></h3>
                        <ul>
                            <li>Juice Fruit</li>
                            <li>Cherry</li>
                            <li>Milk</li>
                            <li>Vegetable</li>
                            <li>Potato</li>
                            <li>Tomato</li>
                            <li>Chilli</li>
                            <li>Sesame</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-restaurant-menu">
                    <div class="menu-image">
                        <img src="assets/img/menu-img2.jpg" alt="menu-image">
                    </div>
                    <div class="menu-content">
                        <h3>Fish <span class="price">$23.00</span></h3>
                        <ul>
                            <li>Juice Fruit</li>
                            <li>Cherry</li>
                            <li>Milk</li>
                            <li>Vegetable</li>
                            <li>Potato</li>
                            <li>Tomato</li>
                            <li>Chilli</li>
                            <li>Sesame</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-restaurant-menu">
                    <div class="menu-image">
                        <img src="assets/img/menu-img3.jpg" alt="menu-image">
                    </div>
                    <div class="menu-content">
                        <h3>Rice <span class="price">$23.00</span></h3>
                        <ul>
                            <li>Juice Fruit</li>
                            <li>Cherry</li>
                            <li>Milk</li>
                            <li>Vegetable</li>
                            <li>Potato</li>
                            <li>Tomato</li>
                            <li>Chilli</li>
                            <li>Sesame</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-restaurant-menu">
                    <div class="menu-image">
                        <img src="assets/img/menu-img4.jpg" alt="menu-image">
                    </div>
                    <div class="menu-content">
                        <h3>Spaghetti <span class="price">$23.00</span></h3>
                        <ul>
                            <li>Juice Fruit</li>
                            <li>Cherry</li>
                            <li>Milk</li>
                            <li>Vegetable</li>
                            <li>Potato</li>
                            <li>Tomato</li>
                            <li>Chilli</li>
                            <li>Sesame</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Restaurant Menu for Home Demo 3 -->
        <div 
            class="row d-none"
            [ngClass]="{'d-flex' : router?.url === '/index-3'}"
        >
            <div class="col-lg-6 col-md-6">
                <div class="fryio-food-menu">
                    <h3>Breakfast</h3>
                    <div class="single-box-menu">
                        <div class="food-image">
                            <img src="assets/img/menu-img1.jpg" alt="menu-img">
                        </div>
                        <div class="menu-content">
                            <h4>Mussels Salad <span class="price">$20.00</span></h4>
                            <p>Two fried eggs with cheese & two breakfast meats made to perfection </p>
                        </div>
                    </div>
                    <div class="single-box-menu">
                        <div class="food-image">
                            <img src="assets/img/menu-img2.jpg" alt="menu-img">
                        </div>
                        <div class="menu-content">
                            <h4>Sandwich Soup <span class="price">$20.00</span></h4>
                            <p>Two fried eggs with cheese & two breakfast meats made to perfection </p>
                        </div>
                    </div>
                    <div class="single-box-menu">
                        <div class="food-image">
                            <img src="assets/img/menu-img3.jpg" alt="menu-img">
                        </div>
                        <div class="menu-content">
                            <h4>Bread <span class="price">$20.00</span></h4>
                            <p>Two fried eggs with cheese & two breakfast meats made to perfection </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="fryio-food-menu">
                    <h3>Lunch</h3>
                    <div class="single-box-menu">
                        <div class="food-image">
                            <img src="assets/img/menu-img1.jpg" alt="menu-img">
                        </div>
                        <div class="menu-content">
                            <h4>Steak <span class="price">$20.00</span></h4>
                            <p>Two fried eggs with cheese & two breakfast meats made to perfection </p>
                        </div>
                    </div>
                    <div class="single-box-menu">
                        <div class="food-image">
                            <img src="assets/img/menu-img2.jpg" alt="menu-img">
                        </div>
                        <div class="menu-content">
                            <h4>Tuna Steak <span class="price">$20.00</span></h4>
                            <p>Two fried eggs with cheese & two breakfast meats made to perfection </p>
                        </div>
                    </div>
                    <div class="single-box-menu">
                        <div class="food-image">
                            <img src="assets/img/menu-img3.jpg" alt="menu-img">
                        </div>
                        <div class="menu-content">
                            <h4>Fish <span class="price">$20.00</span></h4>
                            <p>Two fried eggs with cheese & two breakfast meats made to perfection </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="fryio-food-menu">
                    <h3>Dinner</h3>
                    <div class="single-box-menu">
                        <div class="food-image">
                            <img src="assets/img/menu-img1.jpg" alt="menu-img">
                        </div>
                        <div class="menu-content">
                            <h4>Rice <span class="price">$20.00</span></h4>
                            <p>Two fried eggs with cheese & two breakfast meats made to perfection </p>
                        </div>
                    </div>
                    <div class="single-box-menu">
                        <div class="food-image">
                            <img src="assets/img/menu-img2.jpg" alt="menu-img">
                        </div>
                        <div class="menu-content">
                            <h4>Spaghetti <span class="price">$20.00</span></h4>
                            <p>Two fried eggs with cheese & two breakfast meats made to perfection </p>
                        </div>
                    </div>
                    <div class="single-box-menu">
                        <div class="food-image">
                            <img src="assets/img/menu-img3.jpg" alt="menu-img">
                        </div>
                        <div class="menu-content">
                            <h4>Western Sunrise <span class="price">$20.00</span></h4>
                            <p>Two fried eggs with cheese & two breakfast meats made to perfection </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="fryio-food-menu">
                    <h3>Dessert</h3>
                    <div class="single-box-menu">
                        <div class="food-image">
                            <img src="assets/img/menu-img1.jpg" alt="menu-img">
                        </div>
                        <div class="menu-content">
                            <h4>Cake <span class="price">$20.00</span></h4>
                            <p>Two fried eggs with cheese & two breakfast meats made to perfection </p>
                        </div>
                    </div>
                    <div class="single-box-menu">
                        <div class="food-image">
                            <img src="assets/img/menu-img2.jpg" alt="menu-img">
                        </div>
                        <div class="menu-content">
                            <h4>Pizza <span class="price">$20.00</span></h4>
                            <p>Two fried eggs with cheese & two breakfast meats made to perfection </p>
                        </div>
                    </div>
                    <div class="single-box-menu">
                        <div class="food-image">
                            <img src="assets/img/menu-img3.jpg" alt="menu-img">
                        </div>
                        <div class="menu-content">
                            <h4>Burgur <span class="price">$20.00</span></h4>
                            <p>Two fried eggs with cheese & two breakfast meats made to perfection </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="fryio-food-menu">
                    <h3>Wine Card</h3>
                    <div class="single-box-menu">
                        <div class="food-image">
                            <img src="assets/img/menu-img1.jpg" alt="menu-img">
                        </div>
                        <div class="menu-content">
                            <h4>Western Sunrise <span class="price">$20.00</span></h4>
                            <p>Two fried eggs with cheese & two breakfast meats made to perfection </p>
                        </div>
                    </div>
                    <div class="single-box-menu">
                        <div class="food-image">
                            <img src="assets/img/menu-img2.jpg" alt="menu-img">
                        </div>
                        <div class="menu-content">
                            <h4>Bread <span class="price">$20.00</span></h4>
                            <p>Two fried eggs with cheese & two breakfast meats made to perfection </p>
                        </div>
                    </div>
                    <div class="single-box-menu">
                        <div class="food-image">
                            <img src="assets/img/menu-img3.jpg" alt="menu-img">
                        </div>
                        <div class="menu-content">
                            <h4>Steak <span class="price">$20.00</span></h4>
                            <p>Two fried eggs with cheese & two breakfast meats made to perfection </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="fryio-food-menu">
                    <h3>Drinks</h3>
                    <div class="single-box-menu">
                        <div class="food-image">
                            <img src="assets/img/menu-img1.jpg" alt="menu-img">
                        </div>
                        <div class="menu-content">
                            <h4>Water <span class="price">$20.00</span></h4>
                            <p>Two fried eggs with cheese & two breakfast meats made to perfection </p>
                        </div>
                    </div>
                    <div class="single-box-menu">
                        <div class="food-image">
                            <img src="assets/img/menu-img2.jpg" alt="menu-img">
                        </div>
                        <div class="menu-content">
                            <h4>Milk <span class="price">$20.00</span></h4>
                            <p>Two fried eggs with cheese & two breakfast meats made to perfection </p>
                        </div>
                    </div>
                    <div class="single-box-menu">
                        <div class="food-image">
                            <img src="assets/img/menu-img3.jpg" alt="menu-img">
                        </div>
                        <div class="menu-content">
                            <h4>Beer <span class="price">$20.00</span></h4>
                            <p>Two fried eggs with cheese & two breakfast meats made to perfection </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Restaurant Menu for Home Demo 4 -->
        <div 
            class="row d-none"
            [ngClass]="{'d-flex' : router?.url === '/index-4'}"
        >
            <div class="col-lg-2 col-6 col-md-4">
                <div class="menu-item">
                    <div class="menu-image">
                        <img src="assets/img/menu-img1.jpg" alt="menu-img">
                        <div class="price">
                            $20.00
                        </div>
                    </div>
                    <div class="menu-content">
                        <h3>Mussels Salad</h3>
                        <p>Pasta, cheese, herbs, bacon, eggs</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-6 col-md-4">
                <div class="menu-item">
                    <div class="menu-image">
                        <img src="assets/img/menu-img2.jpg" alt="menu-img">
                        <div class="price">
                            $20.00
                        </div>
                    </div>
                    <div class="menu-content">
                        <h3>Pizza Salad</h3>
                        <p>Pasta, cheese, herbs, bacon, eggs</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-6 col-md-4">
                <div class="menu-item">
                    <div class="menu-image">
                        <img src="assets/img/menu-img3.jpg" alt="menu-img">
                        <div class="price">
                            $20.00
                        </div>
                    </div>
                    <div class="menu-content">
                        <h3>Steak</h3>
                        <p>Pasta, cheese, herbs, bacon, eggs</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-6 col-md-4">
                <div class="menu-item">
                    <div class="menu-image">
                        <img src="assets/img/menu-img4.jpg" alt="menu-img">
                        <div class="price">
                            $20.00
                        </div>
                    </div>
                    <div class="menu-content">
                        <h3>Sandwich Soup</h3>
                        <p>Pasta, cheese, herbs, bacon, eggs</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-6 col-md-4">
                <div class="menu-item">
                    <div class="menu-image">
                        <img src="assets/img/menu-img1.jpg" alt="menu-img">
                        <div class="price">
                            $20.00
                        </div>
                    </div>
                    <div class="menu-content">
                        <h3>Tuna Steak</h3>
                        <p>Pasta, cheese, herbs, bacon, eggs</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-6 col-md-4">
                <div class="menu-item">
                    <div class="menu-image">
                        <img src="assets/img/menu-img2.jpg" alt="menu-img">
                        <div class="price">
                            $20.00
                        </div>
                    </div>
                    <div class="menu-content">
                        <h3>Bread</h3>
                        <p>Pasta, cheese, herbs, bacon, eggs</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-6 col-md-4">
                <div class="menu-item">
                    <div class="menu-image">
                        <img src="assets/img/menu-img1.jpg" alt="menu-img">
                        <div class="price">
                            $20.00
                        </div>
                    </div>
                    <div class="menu-content">
                        <h3>Fish</h3>
                        <p>Pasta, cheese, herbs, bacon, eggs</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-6 col-md-4">
                <div class="menu-item">
                    <div class="menu-image">
                        <img src="assets/img/menu-img2.jpg" alt="menu-img">
                        <div class="price">
                            $20.00
                        </div>
                    </div>
                    <div class="menu-content">
                        <h3>Rice</h3>
                        <p>Pasta, cheese, herbs, bacon, eggs</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-6 col-md-4">
                <div class="menu-item">
                    <div class="menu-image">
                        <img src="assets/img/menu-img3.jpg" alt="menu-img">
                        <div class="price">
                            $20.00
                        </div>
                    </div>
                    <div class="menu-content">
                        <h3>Cake</h3>
                        <p>Pasta, cheese, herbs, bacon, eggs</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-6 col-md-4">
                <div class="menu-item">
                    <div class="menu-image">
                        <img src="assets/img/menu-img4.jpg" alt="menu-img">
                        <div class="price">
                            $20.00
                        </div>
                    </div>
                    <div class="menu-content">
                        <h3>Spaghetti</h3>
                        <p>Pasta, cheese, herbs, bacon, eggs</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-6 col-md-4">
                <div class="menu-item">
                    <div class="menu-image">
                        <img src="assets/img/menu-img1.jpg" alt="menu-img">
                        <div class="price">
                            $20.00
                        </div>
                    </div>
                    <div class="menu-content">
                        <h3>Pizza</h3>
                        <p>Pasta, cheese, herbs, bacon, eggs</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-6 col-md-4">
                <div class="menu-item">
                    <div class="menu-image">
                        <img src="assets/img/menu-img2.jpg" alt="menu-img">
                        <div class="price">
                            $20.00
                        </div>
                    </div>
                    <div class="menu-content">
                        <h3>Western Sunrise</h3>
                        <p>Pasta, cheese, herbs, bacon, eggs</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="line-bg"><img src="assets/img/line.png" alt="line"></div>
</div>