<div class="profile-authentication-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="change-password-box">
                    <form>
                        <div class="form-group mb-3">
                            <label>Current Password *</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group mb-3">
                            <label>New Password *</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group mb-3">
                            <label>Confirm New Password *</label>
                            <input type="text" class="form-control">
                        </div>
                        <button type="submit">Change Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <a routerLink="/" class="back-icon"><i class="icofont-close"></i></a>
</div>