<div class="instagram-area">
    <div class="instagram-title">
        <h3><a href="https://www.instagram.com/" target="_blank"><i class="icofont-instagram"></i> Follow Us On @fryio</a></h3>
    </div>
    <div class="instagram-slides">
        <owl-carousel-o [options]="instagramSlides">
            <ng-template carouselSlide>
                <div class="instagram-item">
                    <a href="#" target="_blank">
                        <img src="assets/img/gallery-img1.jpg" alt="instagram-image">
                    </a>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="instagram-item">
                    <a href="#" target="_blank">
                        <img src="assets/img/gallery-img2.jpg" alt="instagram-image">
                    </a>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="instagram-item">
                    <a href="#" target="_blank">
                        <img src="assets/img/gallery-img3.jpg" alt="instagram-image">
                    </a>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="instagram-item">
                    <a href="#" target="_blank">
                        <img src="assets/img/gallery-img4.jpg" alt="instagram-image">
                    </a>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="instagram-item">
                    <a href="#" target="_blank">
                        <img src="assets/img/gallery-img5.jpg" alt="instagram-image">
                    </a>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="instagram-item">
                    <a href="#" target="_blank">
                        <img src="assets/img/gallery-img6.jpg" alt="instagram-image">
                    </a>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>