<div class="profile-authentication-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="forgot-password-box">
                    <p>Forgot your password? Please enter your username or email address. You will receive a link to create a new password via email.</p>
                    <form>
                        <label>Username or email</label>
                        <input type="text" class="form-control">
                        <button type="submit">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <a routerLink="/" class="back-icon"><i class="icofont-close"></i></a>
</div>