<div id="blog" class="blog-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span>From Our Blog</span>
            <h2>Latest News</h2>
        </div>
        <div class="blog-slides">
            <owl-carousel-o [options]="blogSlides">
                <ng-template carouselSlide>
                    <div class="single-blog-post">
                        <a routerLink="/blog-details" class="post-image">
                            <img src="assets/img/blog-img1.jpg" alt="blog-image">
                        </a>
                        <div class="blog-post-content">
                            <ul>
                                <li><i class="icofont-ui-user"></i> Admin</li>
                                <li><i class="icofont-wall-clock"></i> October 16, 2021</li>
                            </ul>
                            <h3><a routerLink="/blog-details" target="_blank">The 10 Essential Los Angeles Restaurants, 2021</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi turpis massa, dapibus nec libero vitae.</p>
                            <a routerLink="/blog-details" class="read-more-btn" target="_blank">Read More <i class="icofont-rounded-double-right"></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-blog-post">
                        <a routerLink="/blog-details" class="post-image">
                            <img src="assets/img/blog-img2.jpg" alt="blog-image">
                        </a>
                        <div class="blog-post-content">
                            <ul>
                                <li><i class="icofont-ui-user"></i> Admin</li>
                                <li><i class="icofont-wall-clock"></i> October 15, 2021</li>
                            </ul>
                            <h3><a routerLink="/blog-details" target="_blank">16 Hottest Restaurants in LA Right Now, 2021</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi turpis massa, dapibus nec libero vitae.</p>
                            <a routerLink="/blog-details" class="read-more-btn" target="_blank">Read More <i class="icofont-rounded-double-right"></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-blog-post">
                        <a routerLink="/blog-details" class="post-image">
                            <img src="assets/img/blog-img3.jpg" alt="blog-image">
                        </a>
                        <div class="blog-post-content">
                            <ul>
                                <li><i class="icofont-ui-user"></i> Admin</li>
                                <li><i class="icofont-wall-clock"></i> October 14, 2021</li>
                            </ul>
                            <h3><a routerLink="/blog-details" target="_blank">Friday Fun Food Facts – Oct 6, 2021</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi turpis massa, dapibus nec libero vitae.</p>
                            <a routerLink="/blog-details" class="read-more-btn" target="_blank">Read More <i class="icofont-rounded-double-right"></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-blog-post">
                        <a routerLink="/blog-details" class="post-image">
                            <img src="assets/img/blog-img4.jpg" alt="blog-image">
                        </a>
                        <div class="blog-post-content">
                            <ul>
                                <li><i class="icofont-ui-user"></i> Admin</li>
                                <li><i class="icofont-wall-clock"></i> October 13, 2021</li>
                            </ul>
                            <h3><a routerLink="/blog-details" target="_blank">Inside Hollywood’s Sprawling New Coffee</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi turpis massa, dapibus nec libero vitae.</p>
                            <a routerLink="/blog-details" class="read-more-btn" target="_blank">Read More <i class="icofont-rounded-double-right"></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-blog-post">
                        <a routerLink="/blog-details" class="post-image">
                            <img src="assets/img/blog-img5.jpg" alt="blog-image">
                        </a>
                        <div class="blog-post-content">
                            <ul>
                                <li><i class="icofont-ui-user"></i> Admin</li>
                                <li><i class="icofont-wall-clock"></i> October 12, 2021</li>
                            </ul>
                            <h3><a routerLink="/blog-details" target="_blank">Brand New Eateries to Check Out in Los Angeles</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi turpis massa, dapibus nec libero vitae.</p>
                            <a routerLink="/blog-details" class="read-more-btn" target="_blank">Read More <i class="icofont-rounded-double-right"></i></a>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>