<app-homefour-banner></app-homefour-banner>

<app-about></app-about>

<app-offer></app-offer>

<app-restaurant-menu></app-restaurant-menu>

<app-video></app-video>

<app-stunning-things></app-stunning-things>

<app-book-table></app-book-table>

<app-chefs></app-chefs>

<app-call-to-action></app-call-to-action>

<app-gallery></app-gallery>

<app-features></app-features>

<app-feedback></app-feedback>

<app-blog></app-blog>

<app-partner></app-partner>

<app-contact></app-contact>

<app-instagram></app-instagram>